circle{
    transition: all 1s ease-in-out;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}


image.active{
    animation: rotation 30s infinite linear;
    transform-origin: 50% 50%;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
        /*transform: scale(1);*/
    }
    to{
        transform: rotate(359deg);
        /*transform: scale(0.9);*/
    }
}

.progress-circle{
    justify-content: center;
    align-items: center;
    width: 300px;
}



