.albumInfo-card {
    margin-top: 10px;
    width: 80%;
}

.albumInfo-card p {
    margin: 5px 0 0 0;
}



.marquee{
    white-space: nowrap;
    display: inline-block;
    animation: marquee 30s linear infinite;
    padding-left: 100%;
}

@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}


.albumName-container {
    font-size: 20px;
    font-weight: 700;
    color: #f0e3ff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.album-info {
    width: 90%;
    font-size: 14px;
    color: rgba(240, 227, 255, 0.75);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.album-release {
    font-size: 10px;
    color: rgba(204, 204, 204, 0.66);
    margin-top: 10px;
}

