.entry-body{
    width: 100%;
    align-items: center;
    margin-top: 10%;
}


.entry-image{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    margin-right: 10px;
}


.entry-right-body{
    flex-direction: column;
    justify-content: center;
}


.entry-title{
    margin: 0;
    font-weight: 700;
    font-size: 15px;
    color: #d9ffff;
}

.entry-subtitle{
    margin: 5px 0 0 0;
    font-size: 11px;
    font-weight: 500;
    color: #425151;
}

