.main-body{
    display: flex;
    height: 100vh;
    position: fixed;
    width: 100vw;
    /*background-color: #F2D45C;*/
    background: linear-gradient(333deg, rgba(241,100,219,1) 0%, rgba(231,220,55,1) 100%);
    border-radius: 30px;
}