.widgetCard-body {
    width: 24%;
    height: 74%;
    border-radius: 30px;
    padding: 10px 15px;
    position: relative;
    background: linear-gradient(55deg, rgba(29, 53, 120, 0.4) 0%, rgba(2, 5, 23, 0.9) 95%);
    /*box-shadow: ;*/
    transition: all 1s;
}

.widgetCard-body:hover .widget-fade{
    /*transform: rotate3d(5, 0, 0, 25deg);*/
    display: flex;
}

.effect1, .effect2 {
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    background: rgba(83, 246, 210, 0.51);
    box-shadow: 1px 8px 22px 0 rgba(118, 236, 222, 0.6);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    /*border: 1px solid rgba(255, 255, 255, 0.18);*/
}

.widgetCard-body .effect1 {
    top: 0;
    left: 20%;
}

.widgetCard-body .effect2 {
    bottom: -25px;
    right: 20%;
}

.widgetCard-body:hover .effect1 {
    display: block;
    animation: moveUpDown 5s infinite;
    z-index: -1;
}

.widgetCard-body:hover .effect2 {
    display: block;
    animation: moveSide 3s infinite;
    z-index: 1;
    border: none;
}


.widget-title {
    color: #6bc0c2;
    font-size: 18px;
    font-weight: 700;
}


.widget-fade {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: flex-end;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: linear-gradient(
            165deg,
            rgba(26, 26, 26, 0.07) 35%,
            rgba(84,234,199,0.22202384371717432) 100%
    );
    transition: all 0.5s ease-in-out;
    display: none;
}
.widget-fade:hover{
}

.fade-btn svg {
    font-size: 26px;
    color: #fdbc31;
    cursor: pointer;
    margin-right: 15px;
}



@keyframes moveUpDown {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(-65%);
    }
    100% {
        transform: translateY(-10%);
    }
}

@keyframes moveSide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(75%);
    }
    100% {
        transform: translateX(0%);
    }
}

