.box-container {
    justify-content: space-between;
    align-items: end;
    height: 54px;
    margin: 0 25px;
    --boxSize: 4px;
    --gutter: 8px;
    width: calc((var(--boxSize) + var(--gutter)) * 13);

}


.box{
    transform: scale(.4);
    height: 100%;
    width: var(--boxSize);
    background-color: #8EC5FC;
    background-image: linear-gradient(0deg, #8EC5FC 0%, #E0C3FC 100%);
    border-radius: 20px;
}
.box.active{
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


.box1{
    animation-name: quiet;
}
.box2{
    animation-name: normal;
}
.box3{
    animation-name: quiet;
}
.box4{
    animation-name: loud;
}
.box5{
    animation-name: quiet;
}
.box6{
    animation-name: normal;
}
.box7{
    animation-name: quiet;
}

@keyframes quiet {
    25%{
            height: calc(100% - 10px);
    }
    50%{
            height: calc(100% - 5px);
    }
    75%{
            height: calc(100% - 15px);
    }
}
@keyframes normal {
    25%{
        height: calc(100% - 5px);
    }
    50%{
            height: calc(100% - 15px);
    }
    75%{
            height: calc(100% - 10px);
    }
}
@keyframes loud  {
    25%{
            height: calc(100% - 2px);
    }
    50%{
            height: calc(100% - 10px);
    }
    75%{
            height: calc(100% - 20px);
    }
}



