.controls-wrapper {
    width: 80%;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}


.action-btn {
    width: 50px;
    height: 40px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    filter: hue-rotate(10deg);
    color: #8affcc;
    /*border: 2px solid #8affcc;*/
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.06));
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transition-delay: 0s;
}

.action-btn:hover {
    color: black;
    box-shadow: 0 0 10px #8affcc;
}

.action-btn::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 2px;
    /*background: #4afbf7;*/
    background: rgba(74, 251, 247, 0.5);
    box-shadow: -5px -15px 0 rgba(74, 251, 247, 0.35), -5px 15px 0 rgba(74, 251, 247, 0.35);
    transition: width 0.3s, left 0.3s, height 0.3s, top 0.3s, box-shadow 0.3s;
    transition-delay: 0.5s, 0.2s, 0s, 0s;
}

.action-btn:hover::before {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 60%;
    height: 101%;
    top: 49.5%;
    left: -2px;
    background: #8affcc;
    box-shadow: 0 0 0 #8affcc, 0 0 0 #8affcc;
    transition-delay: 0s, 0.2s, 0.2s, 0.5s;
}

.action-btn::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 2px;
    /*background: #4afbf7;*/
    background: rgba(74, 251, 247, 1);
    box-shadow: 5px -15px 0 rgba(74, 251, 247, 0.35), 5px 15px 0 rgba(74, 251, 247, 0.35);
    transition: width 0.3s, right 0.3s, height 0.3s, top 0.3s, box-shadow 0.3s;
    transition-delay: 0.5s, 0.2s, 0s, 0s;
}

.action-btn:hover::after {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50%;
    height: 101%;
    top: 49.5%;
    right: -2px;
    background: #8affcc;
    box-shadow: -5px 0 0 #8affcc, -7px 0 0 #8affcc;
    transition-delay: 0s, 0.2s, 0.2s, 0.5s;
}

.action-btn svg {
    font-size: 26px;
    z-index: 1000;
}


.play-pause-btn {
    position: relative;
    height: 50px;
    width: 60px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: #B5FFFC;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transition-delay: 0s;
}

.play-pause-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 1px;
    transform: translateY(-50%);
    /*background-color: #D9AFD9;*/
    box-shadow: -5px 10px 0 rgba(138, 255, 204, 0.8), -7px -10px 0 rgba(138, 255, 204, 0.7);
    transition: width 0.3s, height 0.3s, left 0.2s, box-shadow 0.3s;
    transition-delay: 0.3s, 0s, 0.3s, 0.2s;
}

.play-pause-btn:hover::before {
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    box-shadow: 0 0 0 #8affcc, 0 0 0 #8affcc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition-delay: 0s, 0.3s, 0s, 0.2s;
}

.play-pause-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 1px;
    /*background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);*/
    transform: translateY(-50%);
    box-shadow: 5px 10px 0 rgba(138, 255, 204, 0.8), 7px -10px 0 rgba(138, 255, 204, 0.7);
    transition: width 0.3s, height 0.3s, right 0.2s, box-shadow 0.3s;
    transition-delay: 0.3s, 0s, 0.3s, 0.2s;
}

.play-pause-btn:hover::after {
    right: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    box-shadow: 0 0 0 #8affcc, 0 0 0 #8affcc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition-delay: 0s, 0.3s, 0s, 0.2s;
}

.play-pause-btn:hover {
    color: black;
    box-shadow: 0 0 10px #8affcc;

}

.play-pause-btn svg {
    font-size: 26px;
    z-index: 1000;
}



