.widgets-body{
    width: 95%;
    height: 50%;
    margin: 2% auto 3%;
    background-color: rgba( 33, 1, 51, 0.05 );
    box-shadow: 0 4px 22px 0 rgba(7, 9, 72, 0.37), 0 4px 22px 0 rgba(3, 44, 33, 0.37);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 30px;
    border: 0.5px solid rgba(143, 84, 255, 0.18);
    align-items: center;
    justify-content: space-evenly;
}