
.screens-container{
    width: calc(100% - 100px);
    /*height: 100%;*/
    /*background-color: #050720;*/
    overflow: auto;
    border-radius: 30px;
    background-color: #26267b;
    opacity: 0.9;
    background-image:
            radial-gradient(circle at center center, #842d2d, #26267b),
    repeating-radial-gradient(circle at center left, #842d2d, #842d2d,lightsalmon 13px, transparent 46px);
    background-blend-mode: multiply;
}
.screens-container::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.flex{
    display: flex;
}
