.songCard-body{
    height: 62%;
    width: 100%;
    border-radius: 30px 30px 0px 30px;
    background-color: rgba(65, 50, 138, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    flex-direction: column;
    align-items: center;
    padding: 8% 0 15px 0;
    /*overflow: clip;*/
}



