
.button-container{
    height: 60px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #fbe2db;
    margin: 5px auto;
    padding: 5px 0;
}

.button-container:hover {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 3px 5px 3px rgba(165, 125, 72, 0.32);
    transition: all 0.6s ease;
    /*transform: scale(1.06);*/
    /*border-left: 2px solid ;*/
}

.button-container.active{
    width: 100px;
    /*background: rgba(255, 255, 255, 0.22);*/
    background: linear-gradient(
            283deg,
            rgba(166,166,166,0.32) 0%,
            rgba(255,255,255,0.32) 49%,
            rgba(166,166,166,0.32) 100%
    );
    border-bottom-left-radius: 40%;
    border-top-left-radius: 25%;
    box-shadow: 0 3px 5px 3px rgba(165, 125, 72, 0.32);
    color: #dc5d70;
    transform: scale(.96);
    border-right: 2px solid ;
}

.button-container span{
    margin: 4px auto;
    font-weight: 600;
    font-size: 12px;
}

.button-container svg{
    font-size: 20px;
}


@media (width: 2560px) {
    .button-container{
        margin: 20px 0;
    }
}
@media (width: 1440px) {
    .button-container{
        margin: 10px 0;
    }
}