.login-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1f1f1f;
    overflow: hidden;
}

.logo{
    width: 30%;
    height: 20%;
}

.login-btn{
    margin-top: 20%;
    padding: 15px 0;
    width: 200px;
    background-color: #fefefe;
    color: #1f1f1f;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
}

a{
    text-decoration: none;
}