
.library-container {
    display: flex;
    /*position: absolute;*/
    flex-wrap: wrap;
    width: 100%;
    height: 90vh;
    padding: 3%;
    overflow-y: auto;
    bottom: 0;
}


.playlist-liked {
    width: 34%;
    height: 47%;
    max-height: 320px;
    border-radius: 10px;
    margin: 1% 2%;
    background: linear-gradient(52deg, rgba(34, 21, 77, 0.4) 0%, rgba(162, 148, 190, 0.4) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(165, 165, 165, 0.18);
    display: flex;
    justify-content: end;
    align-items: end;
    cursor: pointer;
    /*animation: moving 5s infinite;*/
    transition: all;
    /*box-shadow: 1px 2px 7px 1px rgba(120, 89, 199, 0.37);*/
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
@keyframes moving {
    0%{
        transform: rotate3d(1, 0, 0,50deg);
    }
    12.5%{
        transform: rotate3d(1, -1, 0,50deg);
    }
    25%{
        transform: rotate3d(0, -1, 0,50deg);
    }
    37.5%{
        transform: rotate3d(-1, -1, 0,50deg);
    }
    50%{
        transform: rotate3d(-1, 0, 0,50deg);
    }
    62.5%{
        transform: rotate3d(-1, 1, 0,50deg);
    }
    75%{
        transform: rotate3d(0, 0, 0,50deg);
    }
    87.5%{
        transform: rotate3d(1, 1, 0,50deg);
    }
    100%{
        transform: rotate3d(1, -1, 0,50deg);
    }
}

.playlist-liked:hover div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.title-playlist-liked{
    margin-right: auto;
    margin-left: 15px;
    padding: 0 10px 30px 10px;
    color: #ffffff;
}

.icon-container {
    width: 60px;
    height: 60px;
    margin: 8% 10%;
    border-radius: 50%;
    background: linear-gradient(145deg, rgba(97,144,232,1) 0%, rgba(167,191,232,1) 100%);
    box-shadow: 1px 3px 5px 1px rgba(59, 112, 213, 0.2);
    display: none;
    animation: moveUp 1s;
}

@keyframes moveUp {
    from {
        width: 0px;
        height: 0px;
        margin: 0 10%;
    }
    to {
        margin: 10%;
        width: 60px;
        height: 60px;
    }
}
.icon-container:hover{
    cursor: pointer;
}

.icon-likedPlaylist {
    font-size: xxx-large;
    color: #fff;
}


.playlists-item {
    display: flex;
    flex-direction: column;
    width: 12%;
    max-height: 320px;
    padding: 1.5%;
    margin: 1% 2%;
    font-family: "Helvetica Neue", sans-serif;
    border-radius: 20px;
    color: #f1b70d;
    background: rgba(102, 59, 54, 0.94);
    border: 0.5px solid rgba(104, 78, 4, 0.45);
    box-shadow: 1px 1px 6px 3px rgba(201, 153, 7, 0.12);
    transition: all 0.6s;
    position: relative;
    cursor: pointer;
}

.playlists-item:hover {
    transform: scale(1.03);
    background: rgba(118, 72, 10, 1);
}


.playlists-item:hover .playlist-fade {
    opacity: 1;
    transform: scale(1.01);
}
.playlists-item:hover .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.playlists-item:hover .effect-1 {
    display: block;
}
.playlists-item:hover .effect-2 {
    display: block;
}

@keyframes rotate {
    0% {
        top: 3%;
        left: 8%;
    }
    25% {
        top: 8.5%;
        left: 5%;
    }
    50% {
        top: 8.5%;
        left: 16%;
    }
    75% {
        top: 8.5%;
        left: 12%;
    }
    100% {
        top: 3.5%;
        left: 12%;
    }
}

.effect-1, .effect-2 {
    border-radius: 20px;
    display: none;
    mix-blend-mode: multiply;
    height: 55%;
    opacity: 1;
    position: absolute;
    width: 80%;
    z-index: 3000;
    transition: all 0.3s;
}

.effect-1 {
    animation: rotate 1.2s linear infinite;
    background: #3039ea;
}

.effect-2 {
    animation: rotate 1.4s linear reverse infinite;
    background: #3b70f6;
}


.image-container{
    max-height: 172px;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s;
    width: 100%;
    vertical-align: middle;
    z-index: 5000;
}
.playlist-image {
    width: 100%;

}

.playlist-name {
    margin: 10px 0;
    font: inherit;
    font-weight: 600;
    min-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-description {
    height: 7%;
    font-size: 13px;
    color: rgba(225, 210, 165, 0.65);
    margin-bottom: 10px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-tracksTotal {
    font-size: 11px;
    opacity: 0.4;
    margin-bottom: 10px;
    margin-top: 15px;
}

.playlist-fade{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    opacity: 0;
    height: 50%;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(155deg, rgba(54,69,98,0) 30%, rgba(54,69,98,.8) 100%);
}
.playlist-fade .icon-container{
    margin-top: 35%;
    margin-right: 12%;
    background: linear-gradient(145deg, rgba(97,144,232,1) 0%, rgba(167,191,232,1) 100%);
    box-shadow: 1px 3px 5px 1px rgba(59, 112, 213, 0.3);
    cursor: pointer;
    width: 50px;
    height: 50px;
    animation: sizeup 0.6s;
}

@keyframes sizeup {
    from{
        margin-right: calc(10% + 25px);
        width: 0;
        height: 0;
    }
    to{
        width: 50px;
        height: 50px;
    }
}




/**/
/* Responsive */
/**/


@media (width: 1024px) {
    .playlists-item {
        width: 20%;
    }
}

@media (width: 768px) {
    .playlists-item {
        width: 25%;
    }
}

@media (max-width: 426px) {
    .playlists-item {
        width: 125px;
    }
}

