.left-player-body{
    width: 68%;
    margin: 2%;
    height: 100%;
}

.right-player-body{
    color: #fff;
    width: 30%;
    /*height: 90vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}