.sidebar-container{
    height: 100vh;
    width: 100px;
}



.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-top: 5px;
}




.sidebar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
}
li{
    list-style-type: none;
}


.sidebar-footer{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}


.sidebar-footer a{
    width: 40px;
    height: 40px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}
.sidebar-footer a div{
    display: flex;
    justify-content: center;
    margin-top: 2px;
}
.sidebar-footer a div div{
    display: none;
}