.queue-container {
    width: 100%;
    height: 35%;
    border-radius: 30px 0px 30px 30px;
    background: rgba(92, 240, 178, 0.7);
    /*background: #D1D8EC;*/
    -webkit-box-shadow: 5px 5px 45px #7c818d, -5px -5px 45px #27152F;
    box-shadow: 5px 5px 25px #43454c, -5px -5px 35px #27152F;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.queue {
    width: 80%;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
}

.upNext {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #cef7ff;
    margin: 10px 0;
}

.queue-list{
    height: 80%;
    width: 100%;
    overflow: auto;
}
.queue-list::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}


.queue-item-container{
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.queue-item{
    justify-content: space-between;
    width: 100%;
    padding: 4px 0;
    font-size: 14px;
    color: #fff;
    transition: all 0.2s;
}
.queue-item-container:hover div{
    transform: scale(0.93);
}


.queue-item p{
    margin: 0;
}

.track-name{
    width: 75%;
    text-overflow: ellipsis;
    font-size: 15px;
}

.divider{
    width: 90%;
    margin-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid rgb(109, 144, 128);
}

