.player-body{
    width: 100%;
    height: 40%;
    margin: 3% 0;
}

.player-left-body{
    width: 37%;
    min-width: 300px;
}

.player-right-body{
    width: 63%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.song-title{
    margin: 0;
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #dbfffb;
}

.song-artist{
    font-size: 14px;
    font-weight: 500;
    color: #91aba7;
}


.player-right-bottom{
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}


.song-duration{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.duration{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}


