.albumImage{
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

img{
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1;
}


.albumImage-shadow{
    -webkit-filter: blur(5px);
    /*filter: blur(10px);*/
    width: 90%;
    position: absolute;
    z-index: -1;
    top: 23%;
}
